</div>
</div>

<!-- footer -->
<div class="containe bg-dark">
  <footer class="d-flex flex-wrap justify-content-around align-items-center py-3 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img src="logo-1.png" width="60">
        <!-- <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg> -->
      </a>
      <span class="mb-3 mb-md-0 text-center text-muted">&copy; 2022 EazyBundle</span>
    </div>

    <ul class="nav col-md-4 justify-content-center list-unstyled d-flex me-5">
      <li class="ms-3"><a class="text-muted" href="https://wa.me/+2348107721911"><i class="bi bi-whatsapp"></i></a></li>
      <li class="ms-3"><a class="text-muted" href=""><i class="bi bi-facebook"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="https://linkedin.com/in/kingdavid-ezennwa-63724422a"><i class="bi bi-linkedin"></i></a></li>
    </ul>
  </footer>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script> -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/main.js"></script>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/632e005c37898912e96af2a1/1gdlr2rnp';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
  })();
</script>
<!--End of Tawk.to Script-->
</body>
</html>