<!DOCTYPE html>
<%const currency = new Intl.NumberFormat('en-US', {style: 'currency', currency: 'NGN', minimumFractionDigits: 2 }); %>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title%> | EazyBundle</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="/bootstrap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css" integrity="sha512-5PV92qsds/16vyYIJo3T/As4m2d8b6oWYfoqV+vtizRB6KhF1F9kYzWzQmsO6T3z3QG2Xdhrx7FQ+5R1LiQdUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="h-100" style="">
	<script src="/custom_func.js"></script>
	<!-- offcanvas top-bar -->
	<div class="offcanvas offcanvas-top bg-info h-75 w-auto" tabindex="-1" id="off-bar-top" aria-labelledby="offcanvasTopLabel">
	  <div class="offcanvas-header pt-0">
	    <h5 class="offcanvas-title" id="offcanvasTopLabel"><a href="/" ><img src="/logo.png"></a></h5>
	    <button type="button" class="btn-close btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	  </div>
	  <div class="offcanvas-body">
	  	<ul class="nav flex-colum ">
	  	  <a href="/" class="btn btn-"><li class="nav-item">Home</li></a>
	  	  <a href="/#about" class="btn btn-"><li class="nav-item">About us</li></a>
	  	  <a href="/#reviews" class="btn btn-"><li class="nav-item">Reviews</li></a>
	  	  <a href="/#pricing" class="btn btn-"><li class="nav-item">Pricing</li></a>
	  	  <!-- <a class="btn btn-" href="#"><li>FAQs</li></a> -->
	  	  <a class="btn btn-" href="#"><li>Privacy policy</li></a>
<!-- 	  	  <a class="btn btn-" href="#"><li>Privacy policy</li></a>
	  	  <a class="btn btn-" href="#"><li>Privacy policy</li></a>
 -->

	  	</ul>

	  </div>
  	  <div class="d-block justify-content-end text-end m-5">
	  	  <a class="btn btn-primary" href="/login">Log in</a>
	  	  <a class="btn btn-warning" href="/signup">Sign up</a>  	  	
  	  </div>
	</div>


	<!-- offcanvas sidebar -->
	<div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="off-bar" aria-labelledby="offcanvasTopLabel">
	  <div class="offcanvas-header">
	    <h5 class="offcanvas-title" id="offcanvasTopLabel"><a href="/" ><img src="/logo.png"></a></h5>
	    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	  </div>
	  <div class="offcanvas-body offcanvas-sidebar ms-5">
	  	<ul class="list-unstyled pt-3">
	  		<a href="/dashboard" class="active">
	  			<li class="bar-item">
	  				<i class="bi bi-house-fill"></i>
	  				Dashboard
	  			</li>
	  		</a>

	  		<a href="" data-bs-toggle="collapse" data-bs-target="#buy-data-tog" aria-expanded="true" aria-controls="buy-data-tog">
	  			<li class="bar-item">
	  				<i class="bi bi-file-bar-graph-fill"></i>
	  				Buy Data
	  			</li>
	  		</a>
	  		<div id="buy-data-tog" class="accordion-collapse collapse ms-3" aria-labelledby="buy-data-tog" data-bs-parent="#sidebar">
	  			<ul class="list-unstyled ms-5 col-list">
	  			  <li><a href="/data-bundle/mtn-sme" class="">MTN SME Data</a></li>
	  			  <li><a href="/data-bundle/mtn-special" class="">MTN Corperate Data</a></li>
	  			  <li><a href="/data-bundle/glo" class="">Glo Data</a></li>
	  			  <li><a href="/data-bundle/9mobile" class="">9mobile Data</a></li>
	  			  <li><a href="/data-bundle/airtel" class="">Airtel Data</a></li>
	  			</ul>
	  		</div>

	  		<a href="" data-bs-toggle="collapse" data-bs-target="#buy-airtime-tog" aria-expanded="true" aria-controls="buy-airtime-tog">
	  			<li class="bar-item">
	  				<i class="bi bi-phone-vibrate"></i>
	  				Buy airtime
	  			</li>
	  		</a>
	  		<div id="buy-airtime-tog" class="accordion-collapse collapse ms-3" aria-labelledby="buy-data-tog" data-bs-parent="#sidebar">
	  			<ul class="list-unstyled ms-5 col-list">
	  				<li><a href="/airtime/MTN" class="">MTN Airtime</a></li>
	  				<li><a href="/airtime/Glo" class="">Glo Airtime</a></li>
	  				<li><a href="/airtime/9mobile" class="">9mobile Airtime</a></li>
	  				<li><a href="/airtime/Airtel" class="">Airtel Airtime</a></li>
	  			</ul>
	  		</div>

	  		<a href="" data-bs-toggle="collapse" data-bs-target="#utility-bill-tog" aria-expanded="true" aria-controls="utility-bill-tog">
	  			<li class="bar-item">
	  				<i class="bi bi-receipt"></i>
	  				Utility Bills
	  			</li>
	  		</a>
	  		<div id="utility-bill-tog" class="accordion-collapse collapse ms-3" aria-labelledby="buy-data-tog" data-bs-parent="#sidebar">
	  			<ul class="list-unstyled ms-5 col-list">
	  				<li><a href="#" class="">Coming Soon...</a></li>

	  			</ul>
	  		</div>
	  		<a href="/fund-wallet">
	  			<li class="bar-item">
	  				<i class="bi bi-wallet2"></i>
	  				Fund wallet
	  			</li>
	  		</a>

	  		<a href="/profile">
	  			<li class="bar-item">
	  				<i class="bi bi-gear-fill"></i>
	  				Profile
	  			</li>
	  		</a>

	  		<a href="/transactions">
	  			<li class="bar-item">
	  				<i class="bi bi-receipt-cutoff"></i>
	  				Transactions
	  			</li>
	  		</a>

	  		<a href="/notifications">
	  			<li class="bar-item">
	  				<i class="bi bi-app-indicator"></i>
	  				Notifications
	  			</li>
	  		</a>

<!-- 	  		<a href="/faqs">
	  			<li class="bar-item">
	  				<i class="bi bi-headset"></i>
	  				F.A.Qs
	  			</li>
	  		</a>
 -->
	  	</ul>
	  </div>
	</div>

		<nav class="navbar sticky-top bg-info py-0 my-0" style="box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.5);">
			<div class="container-xxl py-0 my-0">
				<div class="">
					<% if (user) { -%>												
					<button class="navbar-toggler d-lg-none me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#off-bar" aria-controls="offcanvasDarkNavbar">
			      <span class="navbar-toggler-icon"></span>
			    </button>
					<% } -%>
					<a href="/" class="logo-lg"><img class="py-0 my-0 d-non" src="/logo.png"></a>	
					<!-- <a href="/" class="logo-sm"><img class="py-0 my-2" width="50" height="45" src="/logo-1.png" alt="logo-sm"></a>	 -->
				</div>
				<div>
								<% if (user && (title != 'get cheap data')) { -%>
					<div class="btn-group rounded">
					  <button type="button" class="btn btn- bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
							<!-- <img src="/svg/account-circle.svg"> -->
							<i class="bi bi-person-circle text-primary me-2" ></i><%= user.user_name %>
					  </button>
							<ul class="dropdown-menu">
								<!-- <li><a class="dropdown-item text-uppercase" id="currency"><%= user.user_name %></a></li> -->
								<li><a class="dropdown-item c-formt text-black font-weight-bolder"><%= currency.format(user.balance) %></a></li>
								<li><a  class="dropdown-item"href="/fund-wallet">Fund Wallet</a></li>
						    <li><hr class="dropdown-divider"></li>
								<li><a  class="dropdown-item text-danger" href="/logout"><i class="bi bi-box-arrow-right me-3"></i>Log out</a></li>
							</ul>
					</div>
					<a href="/#" class="btn text-primary"><i class="bi bi-bell-fill"></i></a> 
					<% } -%>
							<% if (title == 'get cheap data' || !user) { -%>
						<div class="justify-content-between w-100">
									<div class="btn-grop rounded-0 d-none d-lg-inline-block text-uppercase fw-bold justify-content-center">
										<a href="/" class="btn ">Home</a>
										<a href="/#about" class="btn ">About us</a>
										<a href="/#pricing" class="btn ">Pricing</a>
										<a href="/#reviews" class="btn ">Reviews</a>
										<!-- <a href="/#faqs" class="btn ">More</a> -->
										<div class="dropdown d-inline-block">
										  <a class="btn btn-info dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										    More
										  </a>

										  <ul class="dropdown-menu">
										    <!-- <li><a class="dropdown-item" href="#">FAQs</a></li> -->
										    <li><a class="dropdown-item" href="#">Privacy policy</a></li>
										    <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
										  </ul>
										</div>
										<a href="/#contact-us" class="btn ">Contact us</a>
									</div>
									<% if (!user) { -%>										
									<div class="d-sm-inline-block d-none">
										<a  class="btn btn-primary"href="/login"><i class="bi bi-box-arrow-in-right me-1"></i>Log in</a>
										<a  class="btn btn-warning"href="/signup"><i class="bi bi-box-arrow-in- me-1"></i>Sign up</a>
									</div>
									<% } else { -%>
										<a  class="btn btn-danger"href="/logout"><i class="bi bi-box-arrow-in- me-1"></i>Sign out</a>
									<% } -%>
									<button class="navbar-toggler d-lg-none ms-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#off-bar-top" aria-controls="offcanvasDarkNavbar">
							      <span class="navbar-toggler-icon"></span>
							    </button>
								</div>									
								<% } -%>
				</div>
			</div>
		</nav>


		<!-- main -->
		<div class="containe w-100 m-0 px-1 p-md-0 row mb-0">

				<% if (user) { -%>
			<div class="col-lg-3 div d-none d-lg-block bg-dark">
					
				<div class="side-bar h-100">
					<div id="sidebar" class="ps-3 sticky-top" style="top: 70px;">
						<ul class="list-unstyled pt-3">
							<a href="/dashboard" class="active">
								<li class="bar-item">
									<i class="bi bi-house-fill"></i>
									Dashboard
								</li>
							</a>

							<a href="" data-bs-toggle="collapse" data-bs-target="#buy-data-tog" aria-expanded="true" aria-controls="buy-data-tog">
								<li class="bar-item">
									<i class="bi bi-file-bar-graph-fill"></i>
									Buy Data
								</li>
							</a>
							<div id="buy-data-tog" class="accordion-collapse collapse ms-3" aria-labelledby="buy-data-tog" data-bs-parent="#sidebar">
								<ul class="list-unstyled col-list">
								  <li><a href="/data-bundle/mtn-sme" class="">MTN SME Data</a></li>
								  <li><a href="/data-bundle/mtn-special" class="">MTN Corperate Data</a></li>
								  <li><a href="/data-bundle/glo" class="">Glo Data</a></li>
								  <li><a href="/data-bundle/9mobile" class="">9mobile Data</a></li>
								  <li><a href="/data-bundle/airtel" class="">Airtel Data</a></li>
								</ul>
							</div>

							<a href="" data-bs-toggle="collapse" data-bs-target="#buy-airtime-tog" aria-expanded="true" aria-controls="buy-airtime-tog">
								<li class="bar-item">
									<i class="bi bi-phone-vibrate"></i>
									Buy airtime
								</li>
							</a>
							<div id="buy-airtime-tog" class="accordion-collapse collapse ms-3" aria-labelledby="buy-data-tog" data-bs-parent="#sidebar">
								<ul class="list-unstyled col-list">
									<li><a href="/airtime/MTN" class="">MTN Airtime</a></li>
									<li><a href="/airtime/Glo" class="">Glo Airtime</a></li>
									<li><a href="/airtime/9mobile" class="">9mobile Airtime</a></li>
									<li><a href="/airtime/Airtel" class="">Airtel Airtime</a></li>
								</ul>
							</div>

							<a href="" data-bs-toggle="collapse" data-bs-target="#utility-bill-tog" aria-expanded="true" aria-controls="utility-bill-tog">
								<li class="bar-item">
									<i class="bi bi-receipt"></i>
									Utility Bills
								</li>
							</a>
							<div id="utility-bill-tog" class="accordion-collapse collapse ms-3" aria-labelledby="buy-data-tog" data-bs-parent="#sidebar">
								<ul class="list-unstyled col-list">
									<li><a href="#" class="">Coming Soon...</a></li>

								</ul>
							</div>
							<a href="/fund-wallet">
								<li class="bar-item">
									<i class="bi bi-wallet2"></i>
									Fund wallet
								</li>
							</a>

							<a href="/profile">
								<li class="bar-item">
									<i class="bi bi-gear-fill"></i>
									Profile
								</li>
							</a>

							<a href="/transactions">
								<li class="bar-item">
									<i class="bi bi-receipt-cutoff"></i>
									Transactions
								</li>
							</a>

							<a href="/notifications">
								<li class="bar-item">
									<i class="bi bi-app-indicator"></i>
									Notifications
								</li>
							</a>

<!-- 							<a href="/faqs">
								<li class="bar-item">
									<i class="bi bi-headset"></i>
									F.A.Qs
								</li>
							</a>
 -->
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-9 m-0 p-0">
				<% } else {-%>					
			<div class="m-0 p-0">
				<% } -%>					
			<div id="liveAlertPlaceholder" class="px-2 m-0 text-center fixed-bottom border-left-5"></div>
			<style>
				.side-bar a, .offcanvas-sidebar a{
					text-decoration: none;
					color: #ddd;
					margin-left: 0;
				}
				.side-bar li, .offcanvas-sidebar li, .side-bar .accordion-collapse a, .offcanvas-sidebar .accordion-collapse a{
					padding: 5px 20px;
					border-radius: 8px;
					align-content: center;
				}
				.side-bar .accordion-collapse a, .offcanvas-sidebar .accordion-collapse a{
					padding-top: 0;
					margin-top: 0;
					margin-bottom: 0;
				}
				.side-bar li.bar-item:hover, .offcanvas-sidebar li.bar-item:hover, .side-bar .accordion-collapse a:hover, .offcanvas-sidebar .accordion-collapse a:hover{
					background: rgba(235, 253, 255, 0.2);
				}
				.side-bar .bi, .offcanvas-sidebar .bi{
					font-size: 20px;
					color: rgba(138, 245, 255, 0.69);
					margin-right: 15px;
				}
				.col-list a: hover{
					background: rgba(235, 253, 255, 0.2);
					
				}
				.sticky-top a{
					/*border-top: 0;*/
					/*border-bottom: 0;*/
					border: 0;
				}
				.sticky-top .btn-group a{
					border-radius: 0;
				}
			</style>


	<script src="/js/jquery.js"></script>
	<script>
		const sidebar = document.querySelector('div.sidebar');
		const l = () => {
			let sidebar = document.querySelector('.sidebar');
			let drop = document.querySelector('i.fa-caret-down')
			if (sidebar.style.width == '60px') {
				drop.style.display = 'none'
				alert('in')
			} else {
				drop.style.display = 'block'
				console.log(document.querySelector('.sidebar').style.width)
			}
		};

		$(function(){
		  $('[data-toggle="popover"]').popover()
		});
		jQuery(document).ready(function($) {
			let path = window.location.pathname.split("/").pop();

			if (path == '') {
				path = '/'
			}
			// $('#page').text(path)
			let target = $('nav a[href="/'+path+'"]')
			// console.log(target);
			target.addClass('active')
		})


	</script>