<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>EazyBundle | <%= title%></title>
</head>
<body>
<div align="center"><h1>Oops...</h1>
<p>Page not found</p></div>
<p align="center">URL:   <b><%= page%></b></p>
<%- include('./partials/foot.ejs') %>