<%- include('./partials/head.ejs') %>

<div align="center"><h1>Oops...</h1>
<p>Page not found</p></div>
<p align="center">The page at <b><%= page%></b> was not found</p>
<div class="text-center">
	
<a align="center" href="/" class="btn btn-info mx-auto px-3" style="
	width: 100px;
">Home</a>
<a align="center" href="/#contact-us" class="btn btn-warning mx-auto px-3" style="
	width: 100px;
">Support</a>
</div>
<%- include('./partials/foot.ejs') %>