<%- include('./partials/head.ejs') %>

<div align="center"><h1>Oops...</h1>
<p>Page not found</p></div>
<p align="center">The page at <b><%= page%></b> was not found</p>
<div class="text-center">
	
<a align="center" href="/dashboard" class="btn btn-warning mx-auto w-25" style="
	width: 100px;
">DASHBOARD</a>
</div>
<%- include('./partials/foot.ejs') %>