<%- include('./partials/head.ejs') %>

<form class="custom-form" id="paymentForm">
<!--   <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" id="email-address" value="<%= user.email %>" required readonly />
  </div> -->
  <div class="form-group">
    <label for="amount">Amount</label>
    <input class="text-center" type="tel" id="amount" placeholder="Please enter amount greater than 1000" required />
  </div>
  <div class="form-submit">
    <button class="btn btn-success w-100" type="submit" onclick="payWithPaystack()"> Pay </button>
  </div>
</form>

<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
  const paymentForm = document.getElementById('paymentForm');
  paymentForm.addEventListener("submit", payWithPaystack, false);
  function payWithPaystack(e) {
    e.preventDefault();

    let handler = PaystackPop.setup({
      key: 'pk_test_e579e1d7c7be8ae2a0c9e617e6ee9624e7a881ab', // Replace with your public key
      email: '<%= user.email%>',
      // email: document.getElementById("email-address").value,
      amount: document.getElementById("amount").value * 100,
      ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
      // label: "Optional string that replaces customer email"
      onClose: function(){
        // history.back();
      },
      callback: function(response){
        // console.log(response) 
        let message = 'Payment complete! Reference: ' + response.reference;
        fetch(`/verify-paystack-payment/${response.reference}`)
          .then(response => response.json())
          .then(data => console.log(data))
      }
    });

    handler.openIframe();
  }
</script>

<%- include('./partials/foot.ejs') %>