<%- include('./partials/head.ejs') %>

<!-- <h1>Welcome to EazyBundle</h1>
<p>Our website is under construction</p> -->
<style>
	.slide-caption{
		background: #fff url(/assets/bg-img.jpg) center center/cover no-repeat;
	}
	.bg-cover{
		background: red;
		padding-top: 100px;
		padding-bottom: 150px;
		background: rgba(0, 0, 0, 0.25);		
	}
</style>
	<section  class="mb-0" id="">
	
  <div class="slide-caption d-md-block text-center w-100 bg-secondary" style="">
  	<div class=" bg-cover">
	    <h4 class="display-5 fw-bold text-info text-uppercase" style="/*background: rgba(138, 245, 255, 0.2);*/">With EazyBundle</h4>
	    <h1 class="display-3 text-light fw-normal">Stay Connected The Easy Way</h1>
	    <!-- <p class="text-light text-monospace" style="padding: ;letter-spacing: 5px;">Eazy, Fast & Reliable</p> -->
	    <a href="/dashboard" class="btn btn d-inline-block btn-info rounded px-3 mt-5 fw-bold">Start Transaction</a>
  	</div>
  </div>
	
	</section>

<div class="containe bg-white m-0 px-5">
	<section  class="mb-5 pt-5" id="about">

		<div class="card border-0 mb-3" style="max-width: 100%;">
		  <div class="row g-5">
		    <div class="col-md-8">
		      <div class="card-body">
		        <h4 class="card-title">About Us</h4>
		        <p class="card-text">
							<p>
								EAZYBUNDLE is a platform where simplified airtime top up, data and TV subscription, bulk SMS, WAEC Result PIN Checker and Nepa bills are done anytime, any day, any where from your mobile phone.
							
								<!-- Recharging your mobile phone, having excess airtime without getting the value or paying bills usually comes with the hassle of what is the latest data plan that will suit your usage, unnecessary calls to exhaust excess airtime or imagine trying to remember the various account numbers and even the different payment processes involved for utility payment, hence EazyBundle intend to bring everything to your doorstep seamlessly. -->
							
								<br> We are out and committed to meeting the digital needs of individuals, families and the entire society with the best of all VTU instant service delivery.
							</p>
			      </p>
		        <p class="card-text"><small class="text-muted"></small></p>
		      </div>
		    </div>
		    <div class="col-md-4">
		      <img src="/assets/about-us.jpg" class="img-fluid rounded-start" alt="...">
		    </div>
		  </div>
		</div>
	</section>


	<section  class="my-5" id="pricing">
		<h1 class="h3 text-center my-5">Pricing</h1>
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mb-3 text-center">
		      <div class="col">
		        <div class="card mb-4 rounded-3 shadow-sm border-success">
		          <div class="card-header text-bg-success py-3">
		            <h4 class="my-0 fw-normal">Glo</h4>
		          </div>
		          <div class="card-body">
		            <h4 class="card-title pricing-card-title">&#8358 600<small class="text-muted fw-light">/1.5GB</small></h4>
		            <ul class="list-unstyled mt-3 mb-4">
		            	<li class="img">
		            		<img width="100" src="/assets/glo-data.jpg" alt="">
		            	</li>
		              <!-- <li>10 users included</li>
		              <li>2 GB of storage</li>
		              <li>Email support</li>
		              <li>Help center access</li> -->
		            </ul>
		            <a href="/data-bundle/glo" type="button" class="w-100 btn btn-lg btn-outline-success">Buy Now</a>
		          </div>
		        </div>
		      </div>
		      <div class="col">
		        <div class="card mb-4 rounded-3 shadow-sm border-danger">
		          <div class="card-header text-bg-danger py-3">
		            <h4 class="my-0 fw-normal">Airtel</h4>
		          </div>
		          <div class="card-body">
		            <h4 class="card-title pricing-card-title">&#8358 350<small class="text-muted fw-light">/1GB</small></h4>
		            <ul class="list-unstyled mt-3 mb-4">
		            	<li class="img">
		            		<img width="100" class="rounded-circle" src="/assets/airtel-data.jpg" alt="">
		            	</li>
		            </ul>
		            <a href="/data-bundle/airtel" type="button" class="w-100 btn btn-lg btn-outline-danger">Buy Now</a>
		          </div>
		        </div>
		      </div>
		      <div class="col">
		        <div class="card mb-4 rounded-3 shadow-sm border-warning">
		          <div class="card-header py-3 text-bg-warning border-warning">
		            <h4 class="my-0 fw-normal">MTN</h4>
		          </div>
		        	<div class="card-promo bg-success"><span>Promo</span></div>
		          <div class="card-body">
		            <h4 class="card-title pricing-card-title">&#8358 1k<small class="text-muted fw-light">/1.5GB</small></h4>
		            <ul class="list-unstyled mt-3 mb-4">
		            	<li class="img">
		            		<img width="100" class="rounded-circle" src="/assets/mtn-data.jpg" alt="">
		            	</li>
		            	<span class="badge text-bg-success mt-3">On-going Promo</span>
		              <li class="mt-1">Buy <b>3GB</b> and get <b>&#8358 100</b> airtime</li>
		              <li class="">Buy <b>5GB</b> and get <b>&#8358 200</b> airtime</li>
		              <li class="">Buy <b>10GB</b> and get <b>&#8358 450</b> airtime</li>
		            </ul>
		            <a href="/data-bundle/mtn-sme" type="button" class="w-100 btn btn-lg btn-warning">Buy Now</a>
		          </div>
		        </div>
		      </div>
		      <div class="col">
		        <div class="card mb-4 rounded-3 shadow-sm border-info">
		          <div class="card-header text-bg-info py-3">
		            <h4 class="my-0 fw-normal">9 Mobile</h4>
		          </div>
		          <div class="card-body">
		            <h4 class="card-title pricing-card-title">&#8358 350<small class="text-muted fw-light">/1GB</small></h4>
		            <ul class="list-unstyled mt-3 mb-4">
		            	<li class="img">
		            		<img width="100" class="rounded-circle" src="/assets/9mobile-data.jpg" alt="">
		            	</li>
		             <!--  <li>30 users included</li>
		              <li>15 GB of storage</li>
		              <li>Phone and email support</li>
		              <li>Help center access</li> -->
		            </ul>
		            <a href="/data-bundle/9mobile" type="button" class="w-100 btn btn-lg btn-outline-info">Buy Now</a>
		          </div>
		        </div>
		   <div class="text-end"><a class="btn mb-3 btn-sm btn-secondary " href="/pricing">More Prices...</a></div>
		      </div>
		    </div>
	</section>

	<section  class="mb-5" id="reviews">
		<!-- <h1 class="h3 text-uppercase text-center mb-4">Reviews</h1> -->
	</section>

	<section  class="mb-5" id="contact-us">
		<!-- <h1 class="h3 text-uppercase text-center mb-4">eazy</h1> -->
	</section>
</div>

<%- include('./partials/foot.ejs') %>