<%- include('./partials/head.ejs') %>
<div class="containe bg-light m-0 h-100 pt-2">
	<form class="custom-form">
	<div id="liveAlertPlaceholder" class="mx-2 text-center"></div>
	<div>
		<h3 class="pt-5">Log into your account</h3>
		<div>
			<img src="">
		</div>
		<div>
			<label for='user_name'>User name:</label>
			<input class="input" type="text" name="user_name">
			<div class="user_name error text-danger"></div>
		</div>
		<div>
			<label for='password'>Password:</label>
			<input class="input" type="password" name="password">
			<div class="password error text-danger"></div>
		</div>
		<a href="">Forgotten password?</a></p>
		<button class="btn btn-primary w-100 shadow-none rounded mb-3">Log in</button>	
		<!-- <hr/> -->
		<p> <a class="btn btn-info text-decoration-none text-white" href="/signup">Create new account</a></p>
	</form>
</div>
<%- include('./partials/foot.ejs') %>

<script>
	const btn = _('form button');
	let usernameError = _('.error.user_name')
	let passwordError = _('.error.password')
	const form = _('form')

	form.addEventListener('submit', async (e) => {
		e.preventDefault();
		btn.classList.add('disabled', 'bg-light');
		btn.innerHTML = '<i class="spin text"><img src="svg/spinner.svg"></i> ';
		    // reset errors
    usernameError.textContent = '';
    passwordError.textContent = '';
    //form values
		let req = {
			user_name : form.user_name.value
			,password : form.password.value
		}

		try {
			req = JSON.stringify(req);
			let response = await fetch('/login', {
				method: 'POST',
				body: req,
				headers: {'Content-Type' : 'application/json'}
			})
			let res = await response.json();
			if (res.errors) {
				usernameError.textContent = res.errors.user_name;
				passwordError.textContent = res.errors.password;
				btn.classList.remove('disabled', 'bg-light');
				btn.innerHTML = 'Log in';
			}
			if (res.user) {
				alert(`${res.message}`, res.type)
				location.assign('/dashboard');
			}
			btn.classList.remove('disabled', 'bg-light');
			btn.innerHTML = 'Log in';
		} catch(e) {
			// statements
			console.log(e);
			btn.classList.remove('disabled', 'bg-light');
			btn.innerHTML = 'Log in';
		}

	})
</script>