

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --light-grey: #ddd;
  --dark-grey: #333;
  --full-width: 280px;
  --mobile-width: 280px;
}

.fa-signal:before{
  /*content: url('https://api.iconify.design/fa-solid/signal.svg');*/
  content: \f012;
}
.fa-fund-wallet:before{
content: url('https://api.iconify.design/ep/wallet-filled.svg');
}
.fa-mobile-signal:before{
  /*content: url('https://api.iconify.design/fa-solid/signal.svg');*/
  content: \e1ef;
}

/*Costom styles*/
.bg-c{
  background: #00013d;
  background: -moz-linear-gradient(left,  #00013d 0%, #0001b3 100%);
  background: -webkit-linear-gradient(left,  #00013d 0%,#0001b3 100%);
  background: linear-gradient(to right,  #00013d 0%,#0001b3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00013d', endColorstr='#0001b3',GradientType=1 );
}
val
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*transition: .6s;*/
  text-decoration: none;
}
.top-bar a[href="/logout"]{
  text-decoration: none;
  color: #fe5895;
}

body > hr{
  /*width: 100%;*/
}
.btn-animate-click:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}
:focus {
  outline: none;
}


body{
  padding: 0;
	background: #dde ! !important;
	font-family: Popins, sans-serif, "Yu Gothic";
  font-size: 16px;
}
hr{
  border: 1px solid #dde;
}

p, h1, h2, h3, a, ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}
.page-title h1{
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  color: #225;
}

.container{
  position: relative;
  width: 100%;
}
/*
.sidebar{
  position: fixed;
  width: 280px;
  height: 100%;
  padding: 10px;
  background: #00013d;
  background: -moz-linear-gradient(left,  #00013d 0%, #0001b3 100%);
  background: -webkit-linear-gradient(left,  #00013d 0%,#0001b3 100%);
  background: linear-gradient(to right,  #00013d 0%,#0001b3 100%);
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-top: 60px;*/
  /*
}
.logo img{
  margin-top: -20px;
}
.sidebar div:first-child{
  margin-bottom: 20px;
  border-bottom: 2px solid #ddf;
  padding: 0;

}
.logo + .sidebar ul {
  margin-top: 30px;
}
.sidebar ul li{
  width: 100%;
  list-style: none;
}
.sidebar ul li a{
  width: 100%;
  text-decoration: none;
  color: #ddd;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.collapse, .collapse ul{
  background-color: inherit;
  width: inherit;
  padding: inherit;
  margin: inherit;
}
 .collapse ul a{
  padding-left: 60px;
  color: #dedede;
 }
 .sidebar div.title {
     padding: 0 10px;
     font-size: 20px;
*/
/*
     display: flex;
     justify-content: space-between;
 }
.sidebar ul li a:hover:not(.active){
  background: rgba(39, 0, 235, 0.44);
}
.sidebar a.active{
  background: #bbb;
  border-radius: 30px 0 0 30px;
  color: blue;
}
.sidebar a svg:not(.sidebar a .fa){
  height: 20px;
  width: 20px;
  min-width: 50px;
  font-size: 24px;
  text-align: center;
}
.sidebar a.active img{
  color: blue;
  filter:  opacity(0.4) drop-shadow(0 0 0 red);*/
  /*
}
.sidebar .title{
  padding: 0 10px;
  font-size: 20px;
}*/

@media (min-width: 500px){
  .navbar a.logo-lg{
    display: inline-block;
  }
  .navbar a.logo-sm{
    display: none;
  }

}
@media (max-width: 500px){
  .navbar a.logo-lg{
    display: none;
  }
  .navbar a.logo-sm{
    display: inline-block;
  }

}

.sidebar{
  width: 280px;
  color: #ddd;
  background: #00013d;
  background: -moz-linear-gradient(left,  #00013d 0%, #0001b3 100%);
  background: -webkit-linear-gradient(left,  #00013d 0%,#0001b3 100%);
  background: linear-gradient(to right,  #00013d 0%,#0001b3 100%);
}
.sidebar a {
  color: #ddd;
}
.main{
  position: absolute;
  width: calc(100% - 280px);
  min-height: 100vh;
  left: 280px;
  /*top: 60px;*/
  /*padding-top:35px;*/
  background: #ddf;
}
.top-bar{
  position: sticky;
  height: 60px;
  top: 0px;
  /*width: calc(100% - 280px);*/
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  box-shadow: 0 4px 0 0px rgba(0, 0, 0, 0.2);
  color: #224;
  z-index: 1;
}
i.fa-caret-down{
  font-size: 12px;
  right: 20px;
}
.cog {
  background-color: white;
  -webkit-mask: url(/svg/cog.svg) no-repeat center;
  mask: url(/svg/cog.svg) no-repeat center;
}
.fa-right-from-bracket, .bi-box-arrow-in-right{
  padding-right: 10px;
}
#user-coll{
  position: absolute;
  right: 0;
  top: 60px;
  min-width: 200px;
  justify-self: end;
}
#user-coll ul{
  list-style: none;
}
/*
nav{
  position: fixed;
	display: flex;
  width: 100%;
  top: 0;
	margin-bottom: 50px;
	padding: 20px 5px;
	justify-content: space-between;
  color: white;
}
.logo{
	text-transform: uppercase;
	margin-left: 20px;
  font-family: cursive, sans-serif, serif;
}
.logo img{
  margin: -25px 0;
  padding: 0;
  height: ;
  overflow-y: hidden;
}
nav ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin-right: 30px;
}
nav ul li{
	margin-left: 20px;
	font-weight: 600;
}
nav a{
  color: #ddd;
  padding-bottom: 20px;
  text-decoration: none;
}
nav a.active{
  background: blue;
}
}
nav a.active:hover{
  color: white;
}*/

.custom-form{
  /*position: relative;*/
  max-width: 360px;
  margin: 5px auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: white;
}
form h3{
	text-transform: uppercase;
	/*font-weight: 400;*/
}
form a{
  text-decoration: none;
  font-size: .8em;
  color: #6297F8;
  text-align: center;
}
form a:hover{
  text-decoration: underline;
}
form hr{
	width: 100%;
	margin: 20px 10px 0;
}
form p{
	text-align: center;
}
form p a {
  font-size: .99em;
	font-weight: 500;
}
input, select{
  padding: 3px 12px;
  border-radius: 8px;
  font-size: 1em;
  border: 1px solid #ddd;
  width: 100%;
  color: inherit;
}

input:focus{
	border: 1px solid blue;
}

label{
  font-size: .85em;
  display: block;
  margin: 10px 10px 3px 10px;
}
butto{
  position: relative;
  margin-top: 30px;
  width: 100%;
  /*border-radius: 36px;*/
  background: #33d;
  color: #eee;
  border:0;
  font-weight: 700;
  font-size: 1em;
  /*display: block;*/
  padding: 10px;
  letter-spacing: 2px;
  cursor: pointer;
}
.dashboard-card{
  background: rgb(255,225,2);
  background: -moz-linear-gradient(top,  rgba(255,225,2,1) 0%, rgba(160,133,0,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(255,225,2,1) 0%,rgba(160,133,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,225,2,1) 0%,rgba(160,133,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe102', endColorstr='#a08500',GradientType=0 );
  box-shadow: 0px 0px 10px 0px #000 inset;
  max-width: 500px;
  height: 50%;
  top: -80px;
}
.db-greet{
  background: #8ff4ff;
  width: 100%;
  color: #999;
  padding: 25px 20px;
  padding-bottom: 100px;
  text-align: center;
}
form.buy button{
  /*border-radius: 10px;*/
}
/*button:hover:not(button.btn-close){
	background: #11f;
}
button:disabled{
	background: #555;
}
button:disabled:hover{
  background-color: #555;
  /*display: none;*/*/
}
.error{
  color: #FF2714;
  margin: 0 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}
input::-webkit-input-placeholder{
  color: #888;
}
input .error{
	border: 2px solid #FF1E00;
}
.ref-link{
  text-align: center;
  padding: 3;
  background: cyan;
}
button[type="update"]{
  position: relative;
  margin-top: 30px;
  width: 30%;
  right: 0;
  font-weight: normal;
  border-radius: 10px;
  background: none;
  color: #33d;
  border:1px solid #55f;
  transition-duration: .2s;
  /*font-weight: 700;*/
  /*font-size: 1em;*/
  /*display: block;*/
  padding: 10px;
  /*letter-spacing: 2px;*/
  cursor: pointer;
}
button[type="update"]:hover{
  background: #33d;
  color: #ddd
}
button[type="update"]:disabled, button[type="update"]:disabled:hover{
  border: grey;
  color: #ddd;
  background-color: #999;
}
/*button[type="update"]:disabled:hover{
  background: #555;
  color: #ddd;
}*/
.spinner{
  width: 25px;
  height: 25px;
  color: #FF2714;
  border-top: 2px solid blue;
  margin-top: 3px;
  border-right: 2px solid transparent;
  border-radius: 50%;
  margin: auto;
  transition: 0s;
  animation: spin 1.5s linear infinite;
}
i.spin:not(button i.spin){
  display: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.spin img{
  animation: spin 1s linear infinite;
  width: 27px;
  height: 27px;
}


@keyframes spin {
  to{
    transform: rotate(360deg);
  }
}
/*a[href="/logout"] div{
  border-radius: 50%;
  background: #ff8b0f;
  height: 30px;
  width: 30px;
  padding: 6px;
  align-content: center;
  text-align: center;
  position: relative;
}
a[href="/logout"] div i{
  position: absolute;
  text-align: center;
}*/

  .desktop-view{
    display: block;
  }
  .mobile-view{
    display: none !important;
  }
  .table-trn{
    margin: 0 10px;
  }
  button[aria-label="Close-sideber"]{
    display: none;
  }
  .bi-list{
    display: none;
  }
@media (max-width: 900px){
/*  .sidebar:hover{
    width: var(--full-width);
    transition: .5s;
  }
*/  button[aria-label="Close-sideber"]{
    display: inline-block;
  }
  .bi-list{
    display: block;
  }
  .bi-list:hover{
    background: #333;
  }
  .main{
    width: calc(100% - 60px);
  }
  .main{
    left: 60px;
  }
  .sidebar{
    width: 60px;
    transition: .5s;
    overflow-x: hidden;
    white-space: nowrap;
    /*margin-right: 0;*/
  }
 
}
@media (min-width: 901px){
  .main{
    left: 280px;
    /*left: var(--full-width);*/
  }
  .sidebar{
    width: 280px;
  }
}
@media (max-width: 800px) {
  .desktop-view{
    display: none !important;
  }
  .mobile-view{
    overflow-x: hidden;
    display: block !important;
  }
  .mobile-view div.trn-item{
    position: relative;
    display:flex;
    /*justify-content: space-between;*/
    margin: 5px 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    -webkit-box-shadow: inset 0px -0.5px 2px 1px rgba(0,0,0,0.53);
    -moz-box-shadow: inset 0px -0.5px 2px 1px rgba(0,0,0,0.53);
    box-shadow:  0px .5px 2px 0px rgba(0,0,0,0.41);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.04) 0%, #fff 100%);
  }
  .mobile-view div.trn-item .right{
    text-align: right;
    flex: auto;
  }
  .trn-item div.svg{
    padding: 30px 10px;
  }
  .trn-item .bi{
    font-size: 30px;
    color: #2fd006;
  }
  .mobile-view div div{
    padding: 3px 5px;
    font-weight: 600;
  }
  .mobile-view div div:nth-child(4){
    color: #197500;
  }
}
button{
}

@media (max-width: 500px) {
  .top-bar{
    /*float: right;*/
  }
  i.navbar-toggler{
    font-size: .9em;
    left: 0;
    margin-left: 0;
  }
  .atm-card{
    font-size: .6em;
  }
  .Inner-wrap{
    display: none;
  }
  .db-greet{
    display: block;
    /*padding-bottom: 50px !important;*/
  }
  a[href="/fund-wallet"], .ref-link{
    /*font-size: .7em;*/
  }
  input, select{
    width: 100% !important;
    border: 1px solid #ddf;
  }
}
@media (max-width: 400px) {
/*  .sidebar{
    width: 0px;
    left: -35px;
    padding: 0;
    margin: 0;
  }
  .main{
    left: 0;
  }*/
}
@media (max-width: 300px) {
  h1.page-title{
    font-size: 1em;
  }
  button, label{
    width: 100% !important;
  }
}
 .card-promo {
    position: absolute;
    top: 20px;
    right: -47px;
    /*background: #c39a3a;*/
    color: white;
    font-size: 1.4em;
    width: 160px;
    border-radius: 600px 600px 0 0;
    padding: 7px;
    transform: rotate(50deg);
    text-align: center;
    overflow: hidden;
    font-weight: 500;
}
